# Data Cleaning

In [52]:
import pandas as pd

In [53]:
data = pd.read_csv(r"C:\Users\Priya\Documents\Engineer_salary\engineer_salary.csv")
data.head()

,Unnamed: 0,Job Title,Salary Estimate,Rating,Company Name,Description,Location,size,type,sector,founded,industry,revenue
0,0,Software Engineer I,$85K - $121K (Glassdoor est.),4.2,The Trade Desk\n4.2,The Trade Desk is a global technology company ...,"Chandler, AZ",1001 to 5000 Employees,Company - Public,Information Technology,2009,Internet & Web Services,$1 to $5 billion (USD)
1,1,Software Engineer 1 - Mobile,$74K - $109K (Glassdoor est.),4.1,"Garmin International, Inc.\n4.1",Overview:\nWe are seeking a full-time Software...,"Chandler, AZ",10000+ Employees,Company - Public,Manufacturing,1989,Consumer Product Manufacturing,$1 to $5 billion (USD)
2,2,ReactJS Frontend Engineer (LatAm),-1,4.7,Outliant & AirCrew\n4.7,"We’re looking to hire a full-time, remote Reac...","Chandler, AZ",51 to 200 Employees,Company - Private,Information Technology,2019,Computer Hardware Development,Unknown / Non-Applicable
3,3,Manual Software QA Engineer - Computer Vision,-1,4.2,Apple\n4.2,"Summary\nPosted: Jul 22, 2022\nRole Number:200...","Chandler, AZ",10000+ Employees,Company - Public,Information Technology,1976,Computer Hardware Development,$10+ billion (USD)
4,4,Jr. Software Developer,Employer Provided Salary:$70K - $90K,4.0,Softnice Inc.\n4.0,Bachelor’s degree in computer science.\nKnowle...,"Chandler, AZ",501 to 1000 Employees,Company - Private,Information Technology,2001,Information Technology Support Services,$25 to $100 million (USD)

The salary estimate column has to be cleaned to extract numerical data out of it. All rows with salary estimates not given is to be removed as they are not useful for model building

In [75]:
data = data[data['Salary Estimate']!='-1']
data.head(2)

,Unnamed: 0,Job Title,Salary Estimate,Rating,Company Name,Description,Location,size,type,sector,founded,industry,revenue,Hourly_salary,Employer Provided_salary,minimum_salary,maximum_salary,Average Salary
0,0,Software Engineer I,$85K - $121K (Glassdoor est.),4.2,The Trade Desk\n4.2,The Trade Desk is a global technology company ...,"Chandler, AZ",1001 to 5000 Employees,Company - Public,Information Technology,2009,Internet & Web Services,$1 to $5 billion (USD),0,0,85,121,103.0
1,1,Software Engineer 1 - Mobile,$74K - $109K (Glassdoor est.),4.1,"Garmin International, Inc.\n4.1",Overview:\nWe are seeking a full-time Software...,"Chandler, AZ",10000+ Employees,Company - Public,Manufacturing,1989,Consumer Product Manufacturing,$1 to $5 billion (USD),0,0,74,109,91.5

In [55]:
salary = data['Salary Estimate'].apply(lambda x: x.split('(')[0])
salary

0                                        $85K - $121K
1                                        $74K - $109K
4                 Employer Provided Salary:$70K - $90K
5                                       $105K - $155K
6     Employer Provided Salary:$70.00 - $80.00Per Hour
                            ...
95                                       $93K - $145K
96                                      $122K - $183K
97                                      $107K - $156K
98                                      $100K - $160K
99                                       $78K - $116K
Name: Salary Estimate, Length: 72, dtype: object

we need to remove K sign from the salary estimate

In [56]:
k_dollar_minus = salary. apply(lambda x: x.replace('K','').replace('$',''))
k_dollar_minus

0                                          85 - 121
1                                          74 - 109
4                   Employer Provided Salary:70 - 90
5                                         105 - 155
6     Employer Provided Salary:70.00 - 80.00Per Hour
                           ...
95                                         93 - 145
96                                        122 - 183
97                                        107 - 156
98                                        100 - 160
99                                         78 - 116
Name: Salary Estimate, Length: 72, dtype: object

There are rows in which salary is given per hour and there are rows in which salary is given as 'employer provided salary'. These are to be removed as far as the model is concerned to get a clean column of salary. They can be added as a new column before removing from the original column.

In [57]:
data['Hourly_salary']=data['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
data['Employer Provided_salary']=data['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary' in x.lower() else 0)

In [60]:
hour_employer_minus= k_dollar_minus.apply(lambda x: x.lower().replace('per hour','').replace ('employer provided salary:', ''))
hour_employer_minus

0         85 - 121
1         74 - 109
4           70 - 90
5        105 - 155
6     70.00 - 80.00
          ...
95        93 - 145
96       122 - 183
97       107 - 156
98       100 - 160
99        78 - 116
Name: Salary Estimate, Length: 72, dtype: object

Since the salary is given as a range, it has to be split to obtain the minimum and maximum salary.

In [74]:
data['minimum_salary'] = hour_employer_minus.apply(lambda x: x.split(' - ')[0])


data['maximum_salary'] = hour_employer_minus.apply(lambda x: x.split(' - ')[-1])
data.head(2)

,Unnamed: 0,Job Title,Salary Estimate,Rating,Company Name,Description,Location,size,type,sector,founded,industry,revenue,Hourly_salary,Employer Provided_salary,minimum_salary,maximum_salary,Average Salary
0,0,Software Engineer I,$85K - $121K (Glassdoor est.),4.2,The Trade Desk\n4.2,The Trade Desk is a global technology company ...,"Chandler, AZ",1001 to 5000 Employees,Company - Public,Information Technology,2009,Internet & Web Services,$1 to $5 billion (USD),0,0,85,121,103.0
1,1,Software Engineer 1 - Mobile,$74K - $109K (Glassdoor est.),4.1,"Garmin International, Inc.\n4.1",Overview:\nWe are seeking a full-time Software...,"Chandler, AZ",10000+ Employees,Company - Public,Manufacturing,1989,Consumer Product Manufacturing,$1 to $5 billion (USD),0,0,74,109,91.5

In [78]:
# Make sure all the values of salary are in the int/float dtype
data = data.astype({'minimum_salary':'float'})
data = data.astype({'maximum_salary':'float'})

In [85]:
data['Average Salary']=((data.minimum_salary+data.maximum_salary)/2)
data.head(2)

,Unnamed: 0,Job Title,Salary Estimate,Rating,Company Name,Description,Location,size,type,sector,founded,industry,revenue,Hourly_salary,Employer Provided_salary,minimum_salary,maximum_salary,Average Salary,Company
0,0,Software Engineer I,$85K - $121K (Glassdoor est.),4.2,The Trade Desk\n4.2,The Trade Desk is a global technology company ...,"Chandler, AZ",1001 to 5000 Employees,Company - Public,Information Technology,2009,Internet & Web Services,$1 to $5 billion (USD),0,0,85.0,121.0,103.0,The Trade Desk
1,1,Software Engineer 1 - Mobile,$74K - $109K (Glassdoor est.),4.1,"Garmin International, Inc.\n4.1",Overview:\nWe are seeking a full-time Software...,"Chandler, AZ",10000+ Employees,Company - Public,Manufacturing,1989,Consumer Product Manufacturing,$1 to $5 billion (USD),0,0,74.0,109.0,91.5,"Garmin International, Inc."

Since the Company name is clubbed with ratings, the rating has to be removed from the company name and company name isolated.

In [84]:
data['Company'] = data.apply(lambda x: x['Company Name'] if x['Rating'] <0 else x['Company Name'][:-4], axis=1)
data.head(1)

,Unnamed: 0,Job Title,Salary Estimate,Rating,Company Name,Description,Location,size,type,sector,founded,industry,revenue,Hourly_salary,Employer Provided_salary,minimum_salary,maximum_salary,Average Salary,Company
0,0,Software Engineer I,$85K - $121K (Glassdoor est.),4.2,The Trade Desk\n4.2,The Trade Desk is a global technology company ...,"Chandler, AZ",1001 to 5000 Employees,Company - Public,Information Technology,2009,Internet & Web Services,$1 to $5 billion (USD),0,0,85.0,121.0,103.0,The Trade Desk

In [107]:
data['State'] = data['Location'].apply(lambda x: x.split(',')[-1])
data.head(1)

,Unnamed: 0,Job Title,Salary Estimate,Rating,Company Name,Description,Location,size,type,sector,...,industry,revenue,Hourly_salary,Employer Provided_salary,minimum_salary,maximum_salary,Average Salary,Company,State,Age
0,0,Software Engineer I,$85K - $121K (Glassdoor est.),4.2,The Trade Desk\n4.2,The Trade Desk is a global technology company ...,"Chandler, AZ",1001 to 5000 Employees,Company - Public,Information Technology,...,Internet & Web Services,$1 to $5 billion (USD),0,0,85.0,121.0,103.0,The Trade Desk,AZ,13.0

The age of the company maybe a factor in determining their salary package. So age is isolated.

In [129]:
data['founded']= data['founded'].apply(lambda x: str(x).replace('Company - Private','0'))
data['founded']= data['founded'].apply(lambda x: str(x).replace('Company - Public','0'))
data = data.astype({'founded':'float'})
data['Age of company']=data.founded.apply(lambda x: x if x<1 else 2022 - x)

In [130]:
data.head(1)

,Unnamed: 0,Job Title,Salary Estimate,Rating,Company Name,Description,Location,size,type,sector,...,revenue,Hourly_salary,Employer Provided_salary,minimum_salary,maximum_salary,Average Salary,Company,State,Age,Age of company
0,0,Software Engineer I,$85K - $121K (Glassdoor est.),4.2,The Trade Desk\n4.2,The Trade Desk is a global technology company ...,"Chandler, AZ",1001 to 5000 Employees,Company - Public,Information Technology,...,$1 to $5 billion (USD),0,0,85.0,121.0,103.0,The Trade Desk,AZ,13.0,13.0

Since the description is very long, it is logical to extract keywords that marks skills out of the job description

In [132]:
data['javascript'] = data['Description'].apply(lambda x: 1 if 'javascript' in x.lower() else 0 )
data.javascript.value_counts()

0    42
1    30
Name: javascript, dtype: int64

In [133]:
data['java'] = data['Description'].apply(lambda x: 1 if 'java' in x.lower() else 0 )
data.java.value_counts()

1    47
0    25
Name: java, dtype: int64

In [134]:
data['cloud'] = data['Description'].apply(lambda x: 1 if 'cloud' in x.lower() else 0 )
data.cloud.value_counts()

0    49
1    23
Name: cloud, dtype: int64

In [135]:
data['python'] = data['Description'].apply(lambda x: 1 if 'python' in x.lower() else 0 )
data.python.value_counts()

0    45
1    27
Name: python, dtype: int64

In [136]:
data['aws'] = data['Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0 )
data.aws.value_counts()

0    55
1    17
Name: aws, dtype: int64

In [138]:
data['software_development'] = data['Description'].apply(lambda x: 1 if 'software development' in x.lower() else 0 )
data.software_development.value_counts()

0    52
1    20
Name: software_development, dtype: int64

In [139]:
data.head(2)

,Unnamed: 0,Job Title,Salary Estimate,Rating,Company Name,Description,Location,size,type,sector,...,Company,State,Age,Age of company,javascript,java,cloud,python,aws,software_development
0,0,Software Engineer I,$85K - $121K (Glassdoor est.),4.2,The Trade Desk\n4.2,The Trade Desk is a global technology company ...,"Chandler, AZ",1001 to 5000 Employees,Company - Public,Information Technology,...,The Trade Desk,AZ,13.0,13.0,0,0,1,0,0,0
1,1,Software Engineer 1 - Mobile,$74K - $109K (Glassdoor est.),4.1,"Garmin International, Inc.\n4.1",Overview:\nWe are seeking a full-time Software...,"Chandler, AZ",10000+ Employees,Company - Public,Manufacturing,...,"Garmin International, Inc.",AZ,33.0,33.0,0,1,0,0,0,0

Drop the unnamed:0 column and the index column as they serve no purpose in further analysis

In [141]:
data1 = data.drop(['Unnamed: 0'], axis = 1)

In [143]:
data1.to_csv('cleaned_data_EngSalary.csv', index= False)